<div class="row" data-spy="affix" data-offset-top="197">
    <div class="col-sm-12">

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Search</span>
            <input type="text" class="form-control" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChanged()" placeholder="Filter">
        </div>

    </div>
</div>

<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <td>Flag</td>
            <td>Symbol</td>
            <td>Exchange Rate</td>
        </tr>
    </thead>
    <tr *ngFor="let exchangeDataRow of flagItems">
        <td></td>
        <td>{{exchangeDataRow.currency}}</td>
        <td>{{exchangeDataRow.rate}}</td>
    </tr>
</table>